* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #081138;
  padding: 30px;
  font-family: 'Courier New', Courier, monospace;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

main {
  background-color: #ddd;
  height: 600px;
  max-width: 800px;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.dice__container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}
.die-face {
  height: 60px;
  width: 60px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
}
.die__numb{
   font-size: 2rem;
}

.roll__dice {
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 10px;
  background-color: #081138;
  color: white;
  font-size: 1.5rem;
  font-family: 'Courier New';
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px rgb(144, 137, 137);
}
.roll__dice:focus {
  outline: none;
}
.roll__dice:active {
  box-shadow: 0 4px rgb(144, 137, 137);
  background-color: #3e8e41;
  transform: translateY(2px);
}